---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="max-w-3xl mx-auto my-10">
		<h1 class="text-3xl text-center">My latest bookmarks</h1>
		<p class="text-xl text-center mb-5">
			This is only 10 of A LARGE NUMBER THAT WE'LL CHANGE LATER
		</p>
	</div>
</Layout>
